# LLM models
GEMINI_API_KEY="key1"
GEMINI_API_KEY_2="key2"
GEMINI_API_KEY_3="key3"
ANTHROPIC_API_KEY="jkl"
OPENAI_API_KEY="ghi"

# Hugging Face
HF_TOKEN="abc"

# Apify
APIFY_TOKEN="def"

# --- Data Base ---
SUPABASE_URL="your_supabase_project_url"
SUPABASE_KEY="your_supabase_anon_key"

# --- Google Drive ---
GOOGLE_DRIVE_API_KEY="your_google_drive_api_key"